<!-- about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Create</title>

</head>
<body>
    <h1 class="title">Create</h1>
    <p class="info">Your video is being created now. Please wait patiently and it will download automatically when ready.</p>
</body>
</html>
