<!-- about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>

</head>
<body>
    <h1>Create</h1>
    <p>Your video is being created now. Please wait patiently and it will download when ready.</p>
</body>
</html>
