<!-- about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Help Page</title>
</head>
<body>
    <div class="container">
        <h1 class="title"> How to use this software</h1>
        <img src="/images/help_upload_files.png">
        <p class="info">Make sure they are named by the order you want they to appear. 1.jpg, 2.png, 3.jpeg and so on.</p>
        <p class="info">It does not matter about the file format nor the size of the images, they will all be converted to 1920x1080 for the video.</p>
    </div>
</body>
</html>