<% if (locals.text == null) locals.text = []; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Homepage | i2v</title>
</head>
<body>
    <h1>Image to Video</h1>
    <form action="/app/upload" method="POST">
        <!-- <label for="images">Upload Images:</label><br>
        <input type="file" name="images" id="images"><br> -->
        <label for="text">Text:</label><br>
        <textarea id="text" name="text" rows="20" cols="50"></textarea><br>
        <input type="submit" value="Start">
    </form>
    <div>
        <h2>uploaded</h2>
        <% locals.text.forEach((sentence, index) => { %>
            <p><%= index + 1 %>: <%= sentence %></p><br>
        <% }); %>
        <% console.log(locals.text) %>
    </div>
</body>
</html>